* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.message-main-box {
  width: 100%;
  background-color: #f7f9fa;
}



@media only screen and (max-width: 768px) {
  .message-main-box {
    height: unset;
}
}